---
import Layout from '../layouts/Layout.astro';
import Briefcase from '../Icons/Briefcase.astro';
import EduIcon from '../Icons/PapersIcon.astro';
import CodeIcon from '../Icons/Code.astro';
import Experience from '../components/TimeLine.astro';
import Education from '../components/Education.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Profile from '../components/Profile.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Bento from '../components/Bento.astro';
import ProfileIcon from '../Icons/ProfileIcon.astro';

import { getI18N } from '@/i18n';

const {currentLocale = 'es'} = Astro
const i18n = getI18N({currentLocale})
---

<Layout 
    title=`${i18n.SEO_TITLE}&nbsp;${new Date().getFullYear()}`
	description={i18n.SEO_DESCRIPTION}>
	<main class="px-5">

		<SectionContainer class="py-16 md:py-36 animate-fade-right animate-duration-1500" id="home">
			<Profile>
				<slot />
			</Profile>
		</SectionContainer>
		
		<div class="space-y-24">
			<SectionContainer id="education">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-yellow-300">
					<EduIcon class="size-7" />
					{i18n.TITLES.stu}
				</h2>
				<Education />
			</SectionContainer>

			<SectionContainer id="experience">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-yellow-300">
					<Briefcase class="size-7" />
					{i18n.TITLES.exp}
				</h2>
				<Experience />
			</SectionContainer>

			<SectionContainer id="projects">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-yellow-300">
					<CodeIcon class="size-7" />
					{i18n.TITLES.pro}
					
				</h2>
				<Projects />
			</SectionContainer>

			<SectionContainer id="bento" >
				<h2 class="flex  mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-yellow-300">
					<CodeIcon class="size-7" />
					{i18n.TITLES.pro}
				</h2>
				<Bento />
			</SectionContainer>

			<SectionContainer id="about">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-yellow-300">
					<ProfileIcon class="size-7" />
					{i18n.TITLES.about}
					
				</h2>
				<About />
			</SectionContainer>

		</div>
		
	</main>
</Layout>
