---
import ExperienceItem from '../components/TimeLineItem.astro';
import { getI18N } from '@/i18n';

interface Props {
  currentLocale?: string;
}

const { currentLocale = 'en' } = Astro.props;
const i18n = getI18N({ currentLocale });
---

<ol class="relative mt-16">
  {i18n.EXPERIENCE.map((exp) => (
    <li>
      <ExperienceItem
        startDate={exp.startDate}
        endDate={exp.endDate}
        title={exp.title}
        company={exp.company}
        description={exp.description}
        list={exp.list}
      />
    </li>
  ))}
</ol>
